/* Main */

* {
    font-family: Poppins, sans-serif;
    font-weight: normal;
}

body, ul, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    max-width: 900px;
    margin: 0 auto;
    background: #1E1E1E;
    box-sizing: border-box;
}

.page {
    display: none;
}

.page.active {
    display: block;
}


/* Header */

header {
    background: black;
    position: sticky;
    top: 0px;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.menu h1 {
    white-space: nowrap;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.menu li {
    display: inline-block;
    font-size: 16px;
}

.menu a {
    color: #B9B9B9;
}

.menu a:visited {
    color: #B9B9B9;
}

.menu a.active {
    color: white;
}

.menu a:hover {
    color: white;
}


/* Footer */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 11px;
}


/* Projects */

.project-info {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    font-size: 14px;
    color: white;
}

.project-info p {
    text-align: justify;
}

.project-info p b {
    font-weight: bold;
}

.project-info h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.1em;
}

.project-info h2, .info h2 {
    text-align: center;
    font-size: 1.5em;
}

.project-info h2 b {
    font-weight: bold;
}

.project-info .media {
    align-self: center;
    width: 100%;
    margin: calc(clamp(7px, 1.7vw, 15px)) 0;
    object-fit: contain;
}

.project-info#uragun {
    background: #304265;
}

.project-info#tts {
    background: #CC342A;
}

.project-info#legendary {
    background: #937436;
}

.project-info#mobiles {
    background: #AD7AEF;
}

.project-info#side {
    background: #d56c6c;
}

.project-info h2.stuff {
    padding: calc(clamp(40px, 4vw, 70px)) 0px calc(clamp(40px, 4vw, 60px)) 0px;
}

.project-info h1.side-info {
    text-align: left;
    text-transform: none;
}

.project-info h2.side-info {
    text-align: left;
}

.separator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin: calc(min(15vw, 120px)) auto;
    height: calc(min(7vw, 60px));
    width: 50%;
}

.separator-dot {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    width: calc(min(7vw, 60px));
    height: 100%;
}

/* info */

.info {
    background: #FBEBEB;
    padding: 30px 20px;
    font-size: 14px;
    color: #9E5E5E;
}

.info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .photo {
    width: 50%;
    align-self: center;
}

.info .mail {
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
    font-size: 1.2em;
    color: #9E5E5E;
}

.info .mail:visited {
    color: #9E5E5E;
}

.info h2 {
    font-weight: bold;
    padding: 20px 0;
}

.pdf-link {
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    line-height: 1.2em;
    padding: 0;
}

/* Reactive changes */

@media screen and (min-width: 560px) {
    .menu h1 {
        font-size: 36px;
    }

    .menu li {
        font-size: 24px;
    }

    .project-info, .info {
        font-size: 18px;
    }
}

@media screen and (min-width: 850px) {
    .menu h1 {
        font-size: 42px;
    }

    .menu li {
        font-size: 32px;
    }

    .project-info, .info {
        font-size: 24px;
    }
}