/* Main */

* {
    font-family: Poppins, sans-serif;
    font-weight: normal;
}

body, ul, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    max-width: 900px;
    margin: 0 auto;
    background: #1E1E1E;
    box-sizing: border-box;
}


/* Header */

header {
    background: black;
    position: sticky;
    top: 0px;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.menu h1 {
    white-space: nowrap;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.menu li {
    display: inline-block;
    color: #B9B9B9;
    font-size: 16px;
}

.menu a:visited {
    color: #B9B9B9;
}

.menu a.active {
    color: white;
}

.menu a:hover {
    color: white;
}


/* Footer */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 11px;
}


/* Articles */

.project-info {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    font-size: 14px;
}

.project-info p {
    color: white;
    text-align: justify;
}

.project-info p b {
    font-weight: bold;
}

.project-info h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.project-info h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.project-info h2 b {
    font-weight: bold;
}

.project-info img {
    align-self: center;
    width: 99%;
    margin: 40px 0;
}

.project-info#uragun {
    background: #304265;
}

.project-info#tts {
    background: #CC342A;
}

@media screen and (min-width: 560px) {
    .menu h1 {
        font-size: 36px;
    }

    .menu li {
        font-size: 24px;
    }

    .project-info {
        font-size: 18px;
    }
}

@media screen and (min-width: 850px) {
    .menu h1 {
        font-size: 42px;
    }

    .menu li {
        font-size: 32px;
    }

    .project-info {
        font-size: 24px;
    }
}